body {
	display: flex;
	flex-direction: column;
	align-items: center;

	box-sizing: border-box;
}

img {
	display: block;
	height: 300px;
	width: 300px;
	margin: 10px auto;
}

.circle {
	clip-path: circle(50% at 50% 50%);
}

.chat-bubble {
  clip-path: polygon(0% 0%, 0% 75%, 40% 75%, 50% 100%, 60% 75%, 100% 75%, 100% 0%);
}

.cross {
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.arrow {
	clip-path: polygon(0% 25%, 65% 25%, 65% 0%, 100% 50%, 65% 100%, 65% 75%, 0% 75%);
}
